.country-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  &__main {
    padding: 0 calc(var(--spacing-md) * 1.5);
    height: 100%;
  }
  &__back-button {
    margin: var(--spacing-default) 0;
    display: inline-flex;
    gap: var(--spacing-tiny);
    padding: var(--spacing-tiny) var(--spacing-sm);
    margin: calc(var(--spacing-md) * 1.7) 0;
  }
  &__country-info {
    display: flex;
    gap: var(--spacing-lg);
    height: 40%;
  }
}
.country-info {
  &__data-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__flag {
    width: 40%;
  }
  &__overview {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-sm) * 1.5);
  }
  &__border-countries {
    display: flex;
    gap: var(--spacing-tiny);
    align-items: center;
  }
  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(var(--spacing-md) * 2.5);
    list-style-type: none;
  }
  &__list-item {
    &:first-child {
      max-width: calc(var(--spacing-huge) * 0.7);
    }
    &:not(:last-child) {
      margin-bottom: calc(var(--spacing-tiny) * 0.8);
    }
    &:nth-of-type(-n + 5) {
      margin-right: var(--spacing-lg);
    }
  }
}

.border-countries {
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-tiny);
  }
}
