.country-page {
  &__main {
    background-color: var(--color-background);
  }
  &__back-button {
    background-color: var(--color-elements);
    box-shadow: var(--shadow-light);
    border-radius: var(--radius-tiny);
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}
