.header {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-sm) calc(var(--spacing-md) * 1.5);
  background-color: var(--color-light-mode-elements);
  box-shadow: var(--shadow-light);
  z-index: 1;
}
.dark-mode-toggle {
  display: flex;
  align-items: center;
  gap: var(--spacing-tiny);
}
