.header {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-sm) calc(var(--spacing-md) * 1.5);
  background-color: var(--color-elements);
  box-shadow: var(--shadow-light);
  z-index: 1;
  &__heading {
    &:hover {
      cursor: pointer;
    }
  }
}
.dark-mode-toggle {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing-tiny) * 0.8);
  &:hover {
    cursor: pointer;
  }
}
