body {
  font-family: var(--font-family);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-light);
  letter-spacing: var(--letter-spacing-md);
  color: var(--color-light-mode-text);
  line-height: var(--line-height-md);
}
