:root {
  ////////////////////////////////
  // COLOR
  --color-text-light: hsl(206, 16%, 9%);
  --color-input: hsl(0, 0%, 52%);
  --color-background: hsl(0, 0%, 98%);
  --color-text: hsl(200, 15%, 12%);
  --color-elements: hsl(0, 0%, 100%);
  --color-hover: hsl(0, 0%, 74%);
  &.dark-mode {
    --color-background: hsl(207, 26%, 17%);
    --color-text: hsl(0, 2%, 91%);
    --color-text-light: hsl(0, 0%, 83%);
    --color-elements: hsl(209, 23%, 22%);
    --color-input: hsl(0, 0%, 92%);
    --color-hover: hsl(0, 0%, 47%);
  }
  ////////////////////////////////
  // TYPOGRAPHY
  --font-family: "Nunito Sans", sans-serif;
  --font-size-default: 1.6rem;
  --font-size-homepage-items: 1.4rem;
  --font-size-mobile: 1.3rem;
  --font-weight-light: 300;
  --font-weight-default: 600;
  --font-weight-dark: 800;
  --letter-spacing-sm: 0.1rem;
  --letter-spacing-md: 0.3rem;
  --letter-spacing-lg: 0.5rem;
  --line-height-sm: 1.2rem;
  --line-height-md: 1.7rem;
  --line-height-lg: 2rem;
  ////////////////////////////////
  // SPACING
  --desktop-width: 144rem;
  --mobile-width: 37.5rem;
  --spacing-tiny: 1rem;
  --spacing-sm: 2rem;
  --spacing-default: 3.5rem;
  --spacing-md: 5rem;
  --spacing-lg: 13rem;
  --spacing-extra: 20rem;
  --spacing-xxl: 35rem;
  --spacing-huge: 45rem;
  ////////////////////////////////
  // SHADOW
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 1rem 5rem rgba(0, 0, 0, 0.04);
  ////////////////////////////////
  // BORDER RADIUS
  --radius-tiny: 3px;
  --radius-sm: 5px;
  --radius-md: 7px;
  --radius-lg: 10rem;
}
