*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: var(--desktop-width);
  margin: 0 auto;
  background-color: grey;
}

#root {
  height: 100vh;
}

.country-page__main {
  background-color: var(--color-light-mode-background);
}
.country-page__back-button {
  background-color: var(--color-light-mode-elements);
  box-shadow: var(--shadow-dark);
  border-radius: var(--radius-sm);
}
.country-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.country-page__main {
  padding: 0 var(--spacing-md);
  height: 100%;
}
.country-page__back-button {
  margin: var(--spacing-default) 0;
  display: inline-flex;
  gap: var(--spacing-tiny);
  padding: var(--spacing-tiny) var(--spacing-sm);
  margin: calc(var(--spacing-md) * 1.7) 0;
}
.country-page__country-info {
  display: flex;
  gap: var(--spacing-lg);
  height: 40%;
}

.country-info__data-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.country-info__border-countries {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-sm) var(--spacing-md);
  background-color: var(--color-light-mode-elements);
  box-shadow: var(--shadow-light);
  z-index: 1;
}
.dark-mode-toggle {
  display: flex;
  align-items: center;
  gap: var(--spacing-tiny);
}
.homepage__main {
  background-color: var(--color-light-mode-background);
}

.grid-header__search-box {
  box-shadow: var(--shadow-light);
}
.grid-header__filter {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: 0.65rem auto;
  background-color: var(--color-light-mode-elements);
  border: none;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-light);
}
.country-card {
  background-color: var(--color-light-mode-elements);
  box-shadow: var(--shadow-light);
  border-radius: var(--radius-sm);
}
.search-box__input {
  background-color: var(--color-light-mode-elements);
  border: none;
  border-radius: var(--radius-sm);
}

.homepage {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.homepage__main {
  padding: 0 var(--spacing-md);
  height: 100%;
}

.main__grid-header {
  display: flex;
  justify-content: space-between;
  margin: var(--spacing-default) 0;
}
.main__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: calc(var(--spacing-huge) * 0.7);
  gap: calc(var(--spacing-md) * 1.4);
}

.grid-header__search-box {
  width: var(--spacing-huge);
  position: relative;
}
.grid-header__filter {
  text-indent: var(--spacing-sm);
  background-position: right 2rem top 50%;
  width: calc(var(--spacing-lg) * 1.3);
}
.grid-header__filter-item {
  margin: var(--spacing-lg) 0;
}

.country-card {
  display: flex;
  flex-direction: column;
}
.country-card__overview {
  flex-basis: 55%;
  padding: var(--spacing-sm) var(--spacing-sm);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}
.country-card__flag {
  height: 45%;
  border-radius: var(--radius-sm) var(--radius-sm) 0 0;
}

.overview__list {
  list-style-type: none;
}
.overview__list-item:not(:last-child) {
  margin-bottom: calc(var(--spacing-tiny) * 0.7);
}

.search-box__magnifying-glass {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: var(--spacing-default);
}
.search-box__input {
  width: 100%;
  padding: calc(var(--spacing-tiny) * 1.4) calc(var(--spacing-md) * 1.5);
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-light);
  color: var(--color-light-mode-text);
  line-height: var(--line-height-md);
}

.search-box__magnifying-glass {
  color: var(--color-light-mode-input);
}
.search-box__input::placeholder {
  color: var(--color-light-mode-input);
}

.overview__heading {
  font-weight: var(--font-weight-dark);
}
.overview__list-item {
  font-size: var(--font-size-homepage-items);
}

.list-item__field {
  color: var(--color-light-mode-text-light);
  font-weight: var(--font-weight-default);
}

.dark-mode-toggle {
  font-weight: var(--font-weight-default);
}
:root {
  --color-light-mode-background: hsl(0, 0%, 98%);
  --color-light-mode-text: hsl(200, 15%, 12%);
  --color-light-mode-text-light: hsl(206, 16%, 9%);
  --color-light-mode-elements: hsl(0, 0%, 100%);
  --color-light-mode-input: hsl(0, 0%, 52%);
  --color-dark-mode-background: hsl(207, 26%, 17%);
  --color-dark-mode-text: hsl(0, 0%, 100%);
  --color-dark-mode-elements: hsl(209, 23%, 22%);
  --font-family: "Nunito Sans", sans-serif;
  --font-size-default: 1.6rem;
  --font-size-homepage-items: 1.4rem;
  --font-weight-light: 300;
  --font-weight-default: 600;
  --font-weight-dark: 800;
  --letter-spacing-sm: 0.1rem;
  --letter-spacing-md: 0.3rem;
  --letter-spacing-lg: 0.5rem;
  --line-height-sm: 1.2rem;
  --line-height-md: 1.7rem;
  --line-height-lg: 2rem;
  --desktop-width: 144rem;
  --mobile-width: 37.5rem;
  --spacing-tiny: 1rem;
  --spacing-sm: 2rem;
  --spacing-default: 3.5rem;
  --spacing-md: 5rem;
  --spacing-lg: 13rem;
  --spacing-extra: 20rem;
  --spacing-xxl: 35rem;
  --spacing-huge: 45rem;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --radius-tiny: 3px;
  --radius-sm: 5px;
  --radius-md: 7px;
  --radius-lg: 10rem;
}

/*# sourceMappingURL=style.css.map */
