*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: var(--desktop-width);
  margin: 0 auto;
  background-color: grey;
}

#root {
  height: 100vh;
}

.button {
  background-color: var(--color-elements);
  padding: calc(var(--spacing-tiny) * 0.5) var(--spacing-sm);
  border: none;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-dark);
}
.button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.country-page__main {
  background-color: var(--color-background);
}
.country-page__back-button {
  background-color: var(--color-elements);
  box-shadow: var(--shadow-dark);
  border-radius: var(--radius-sm);
}
.country-page__back-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.country-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.country-page__main {
  padding: 0 calc(var(--spacing-md) * 1.5);
  height: 100%;
}
.country-page__back-button {
  margin: var(--spacing-default) 0;
  display: inline-flex;
  gap: var(--spacing-tiny);
  padding: var(--spacing-tiny) var(--spacing-sm);
  margin: calc(var(--spacing-md) * 1.7) 0;
}
.country-page__country-info {
  display: flex;
  gap: var(--spacing-lg);
  height: 40%;
}

.country-info__data-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.country-info__flag {
  width: 40%;
}
.country-info__overview {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-sm) * 1.5);
}
.country-info__border-countries {
  display: flex;
  gap: var(--spacing-tiny);
  align-items: center;
}
.country-info__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(var(--spacing-md) * 2.5);
  list-style-type: none;
}
.country-info__list-item:not(:last-child) {
  margin-bottom: calc(var(--spacing-tiny) * 0.7);
}
.country-info__list-item:nth-of-type(-n + 5) {
  margin-right: var(--spacing-lg);
}

.border-countries__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-tiny);
}

.dropdown {
  width: calc(var(--spacing-huge) * 0.5);
  height: 100%;
  position: relative;
}
.dropdown__button {
  width: 100%;
  height: 100%;
  padding: var(--spacing-sm) var(--spacing-sm);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-elements);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
.dropdown__arrow {
  display: flex;
  align-items: center;
}
.dropdown__options {
  width: 100%;
  margin-top: calc(var(--spacing-tiny) * 0.5);
  padding: var(--spacing-tiny);
  position: absolute;
  background-color: var(--color-elements);
  border: none;
  border-radius: var(--radius-tiny);
  box-shadow: 0 var(--spacing-tiny) var(--spacing-sm) rgba(0, 0, 0, 0.2);
  list-style: none;
  overflow-y: auto;
  transition: 0.5s ease;
  transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
}
.dropdown__option {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: var(--color-elements);
  cursor: pointer;
}
.dropdown__input {
  position: absolute;
  left: 0;
  opacity: 0;
}
.dropdown__input:checked {
  background-color: #f2f2f2;
}
.dropdown__label {
  width: 100%;
  padding: calc(var(--spacing-tiny) * 0.8) var(--spacing-tiny);
}
.dropdown__label:hover {
  cursor: pointer;
  background-color: var(--color-hover);
}

.active .dropdown__options {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-sm) calc(var(--spacing-md) * 1.5);
  background-color: var(--color-elements);
  box-shadow: var(--shadow-light);
  z-index: 1;
}
.header__heading:hover {
  cursor: pointer;
}

.dark-mode-toggle {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing-tiny) * 0.8);
}
.dark-mode-toggle:hover {
  cursor: pointer;
}

.homepage__main {
  background-color: var(--color-background);
  overflow: scroll;
}

.grid-header__search-box {
  box-shadow: var(--shadow-light);
}
.grid-header__filter {
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--color-elements);
  border: none;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-light);
  padding: 0 var(--spacing-sm);
}
.grid-header__filter__filter-item {
  text-indent: var(--spacing-sm);
}

.country-card {
  background-color: var(--color-elements);
  box-shadow: var(--shadow-light);
  border-radius: var(--radius-sm);
}
.country-card:hover {
  cursor: pointer;
}

.search-box__input {
  background-color: var(--color-elements);
  border: none;
  border-radius: var(--radius-sm);
}

.homepage {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.homepage__main {
  padding: 0 calc(var(--spacing-md) * 1.5);
  height: 100%;
}

.main__grid-header {
  display: flex;
  justify-content: space-between;
  margin: var(--spacing-default) 0;
}
.main__grid {
  display: grid;
  grid-template-columns: repeat(4, 21.15%);
  grid-auto-rows: calc(var(--spacing-huge) * 0.7);
  gap: calc(var(--spacing-md) * 1.3);
}

.grid-header__search-box {
  width: calc(var(--spacing-huge) * 1.1);
  position: relative;
}
.grid-header__filter-container {
  min-width: 22rem;
  height: var(--spacing-md);
  position: relative;
}
.grid-header__filter-container::before {
  position: absolute;
  content: "";
  right: 8%;
  pointer-events: none;
  border-left: var(--radius-sm) solid transparent;
  border-right: var(--radius-sm) solid transparent;
  border-top: var(--radius-sm) solid black;
  top: 45%;
}
.grid-header__filter {
  width: 100%;
  height: 100%;
}

.country-card {
  display: flex;
  flex-direction: column;
}
.country-card__overview {
  flex-basis: 55%;
  padding: var(--spacing-sm) var(--spacing-sm);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}
.country-card__flag {
  height: 45%;
  border-radius: var(--radius-sm) var(--radius-sm) 0 0;
}
.country-card__list {
  list-style-type: none;
}
.country-card__list-item:not(:last-child) {
  margin-bottom: calc(var(--spacing-tiny) * 0.7);
}

.search-box__magnifying-glass {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: var(--spacing-default);
}
.search-box__input {
  width: 100%;
  height: 100%;
  padding: calc(var(--spacing-tiny) * 1.4) calc(var(--spacing-md) * 1.5);
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-light);
  color: var(--color-text);
  line-height: var(--line-height-md);
}

.search-box__magnifying-glass {
  color: var(--color-input);
}
.search-box__input {
  font: inherit;
  color: var(--color-input);
  font-size: var(--font-size-homepage-items);
}
.search-box__input::placeholder {
  color: var(--color-input);
}

.dropdown__button {
  font-family: var(--font-family);
  font-size: var(--font-size-homepage-items);
  color: var(--color-text);
  font-weight: var(--font-weight-default);
}
.dropdown__options {
  font-size: var(--font-size-homepage-items);
  font-weight: var(--font-weight-default);
  color: var(--color-text);
}

.country-card__heading {
  font-weight: var(--font-weight-dark);
}
.country-card__list-item {
  font-size: var(--font-size-homepage-items);
  color: var(--color-text-light);
}

.list-item__field {
  color: var(--color-text);
  font-weight: var(--font-weight-default);
}

.dark-mode-toggle {
  font-weight: var(--font-weight-default);
}

.border-countries__span {
  font-size: var(--font-size-homepage-items);
  font-weight: var(--font-weight-default);
  color: var(--color-text-light);
}

.country-info__heading {
  font-weight: var(--font-weight-dark);
}
.country-info__field {
  font-weight: var(--font-weight-default);
}

.button {
  color: var(--color-text);
  font-weight: var(--font-weight-light);
}

:root {
  --color-text-light: hsl(206, 16%, 9%);
  --color-input: hsl(0, 0%, 52%);
  --color-background: hsl(0, 0%, 98%);
  --color-text: hsl(200, 15%, 12%);
  --color-elements: hsl(0, 0%, 100%);
  --color-hover: hsl(0, 0%, 74%);
  --font-family: "Nunito Sans", sans-serif;
  --font-size-default: 1.6rem;
  --font-size-homepage-items: 1.4rem;
  --font-weight-light: 300;
  --font-weight-default: 600;
  --font-weight-dark: 800;
  --letter-spacing-sm: 0.1rem;
  --letter-spacing-md: 0.3rem;
  --letter-spacing-lg: 0.5rem;
  --line-height-sm: 1.2rem;
  --line-height-md: 1.7rem;
  --line-height-lg: 2rem;
  --desktop-width: 144rem;
  --mobile-width: 37.5rem;
  --spacing-tiny: 1rem;
  --spacing-sm: 2rem;
  --spacing-default: 3.5rem;
  --spacing-md: 5rem;
  --spacing-lg: 13rem;
  --spacing-extra: 20rem;
  --spacing-xxl: 35rem;
  --spacing-huge: 45rem;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --radius-tiny: 3px;
  --radius-sm: 5px;
  --radius-md: 7px;
  --radius-lg: 10rem;
}
:root.dark-mode {
  --color-background: hsl(207, 26%, 17%);
  --color-text: hsl(0, 2%, 91%);
  --color-text-light: hsl(0, 0%, 90%);
  --color-elements: hsl(209, 23%, 22%);
  --color-input: hsl(0, 0%, 92%);
  --color-hover: hsl(0, 0%, 47%);
}

/*# sourceMappingURL=style.css.map */
